.dashboard_list {
  list-style: none;
  display: flex;
  justify-content: space-around;
  font-weight: bold;
  border: solid;
}

.dashboard_list li {
  padding: 5px;
  margin: 5px 10px 5px 10px;
  border: solid;
}

.color_button {
  background-color: red;
  padding: 5px 10px 5px 10px;
  border-radius: 20%;
  border-width: 5px;
  font-size: 2em;
  font-weight: 700;
  color: white;
}

.first_form {
  margin-top: 20px;
}

.textarea_first {
  margin-left: 50px;
  max-height: 300px;
  max-width: 400px;
  width: 300px;
  height: 200px;
}

.moneyMan {
  margin: 100px 0 100px 0;
}